{
  "openapi": "3.0.3",
  "info": {
    "title": "PokéAPI",
    "description": "All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.",
    "version": "2.7.0",
    "contact": {
      "name": "PokéAPI",
      "url": "https://pokeapi.co"
    },
    "license": {
      "name": "BSD 3-Clause",
      "url": "https://opensource.org/licenses/BSD-3-Clause"
    }
  },
  "servers": [
    { "url": "https://pokeapi.co/api/v2", "description": "Production" }
  ],
  "tags": [
    { "name": "pokemon", "description": "Pokémon resources" },
    { "name": "items", "description": "Item resources" },
    { "name": "moves", "description": "Move resources" },
    { "name": "locations", "description": "Location resources" }
  ],
  "paths": {
    "/pokemon": {
      "get": {
        "operationId": "listPokemon",
        "summary": "List Pokémon",
        "description": "Returns a paginated list of all Pokémon. Use `limit` and `offset` to paginate.",
        "tags": ["pokemon"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return",
            "required": false,
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting position in the list",
            "required": false,
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": { "type": "integer", "description": "Total number of resources" },
                    "next": { "type": "string", "nullable": true, "description": "URL of next page" },
                    "previous": { "type": "string", "nullable": true, "description": "URL of previous page" },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "url": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/{name}": {
      "get": {
        "operationId": "getPokemon",
        "summary": "Get Pokémon",
        "description": "Returns data for a single Pokémon by name or ID.",
        "tags": ["pokemon"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Pokémon name (lowercase) or numeric ID",
            "required": true,
            "schema": { "type": "string" },
            "examples": {
              "pikachu": { "value": "pikachu" },
              "bulbasaur": { "value": "bulbasaur" }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "name": { "type": "string" },
                    "base_experience": { "type": "integer" },
                    "height": { "type": "integer", "description": "Height in decimetres" },
                    "weight": { "type": "integer", "description": "Weight in hectograms" },
                    "is_default": { "type": "boolean" },
                    "order": { "type": "integer" },
                    "abilities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ability": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "url": { "type": "string" }
                            }
                          },
                          "is_hidden": { "type": "boolean" },
                          "slot": { "type": "integer" }
                        }
                      }
                    },
                    "types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slot": { "type": "integer" },
                          "type": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "url": { "type": "string" }
                            }
                          }
                        }
                      }
                    },
                    "stats": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base_stat": { "type": "integer" },
                          "effort": { "type": "integer" },
                          "stat": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "url": { "type": "string" }
                            }
                          }
                        }
                      }
                    },
                    "sprites": {
                      "type": "object",
                      "properties": {
                        "front_default": { "type": "string", "nullable": true },
                        "back_default": { "type": "string", "nullable": true }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pokémon not found"
          }
        }
      }
    },
    "/pokemon-species/{name}": {
      "get": {
        "operationId": "getPokemonSpecies",
        "summary": "Get Pokémon Species",
        "description": "Returns species data including evolution chains, flavor text, and habitat.",
        "tags": ["pokemon"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Species name or numeric ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "name": { "type": "string" },
                    "is_legendary": { "type": "boolean" },
                    "is_mythical": { "type": "boolean" },
                    "capture_rate": { "type": "integer" },
                    "base_happiness": { "type": "integer" },
                    "flavor_text_entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "flavor_text": { "type": "string" },
                          "language": {
                            "type": "object",
                            "properties": { "name": { "type": "string" }, "url": { "type": "string" } }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/item": {
      "get": {
        "operationId": "listItems",
        "summary": "List Items",
        "description": "Returns a paginated list of all items.",
        "tags": ["items"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": { "type": "integer", "default": 20 }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": { "type": "integer" },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "url": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/move/{name}": {
      "get": {
        "operationId": "getMove",
        "summary": "Get Move",
        "description": "Returns data for a single move by name or ID.",
        "tags": ["moves"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Move name or numeric ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "name": { "type": "string" },
                    "accuracy": { "type": "integer", "nullable": true },
                    "pp": { "type": "integer" },
                    "power": { "type": "integer", "nullable": true },
                    "priority": { "type": "integer" },
                    "type": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "url": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/location/{name}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get Location",
        "description": "Returns data for a specific game location.",
        "tags": ["locations"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Location name or numeric ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "name": { "type": "string" },
                    "region": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "url": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
